@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --main-color: #90d5ff;
    --white-color: #fff;
    --disabled-color: #fff3;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color); 
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    color: var(--white-color);
    font-weight: 700;
}

nav a {
    font-size: 2rem;
    color: var(--white-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .5s;
}

nav a:hover,
nav a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 4rem;
    display: none;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10rem 9% 2rem;
    background: var(--bg-color);    
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

section.active {
    visibility: visible;
    opacity: 1;
    overflow: auto;
}

.home {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.home-detail h1 {
    font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home-detail h2 {
    display: inline-block;
    font-size: 3.2rem;
    margin-top: -1rem;
}

.home-detail h2 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .07rem var(--main-color);
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes  display-text{
    25%,
    100% {
        display: none;
    }
}

.home-detail h2 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid var(--main-color);
    color: var(--main-color);
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
    10%,100% {
        width: 0;
    }
    70%,90% {
        width: 100%;
    }
}

.home-detail p{
    font-size: 1.6rem;
    margin: 1rem 0 2.5rem;
}

.home-detail .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 1rem 3rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    box-shadow: none;
}

.home-detail .btn-sci .sci{
    margin-left: 2rem;
}

.home-detail .btn-sci .sci a{
    display: inline-flex;
    padding: .8rem;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 .8rem;
    transition: .5s;
}

.home-detail .btn-sci .sci a:hover{
    background: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 50rem;
    height: 50rem;
    background: conic-gradient(transparent, transparent, transparent, var(--main-color));
    transform: rotate(0deg);
    animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after{
    animation-delay: -5s;
}

@keyframes rotate-border {
    100%{
        transform: rotate(360deg);
    }
}   

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 50%;
    border: 0.1rem solid var(--bg-color);
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img {
    position: absolute;
    top: 3rem;
    display: block;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
}

.heading span {
    color: var(--main-color);
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.skills-container .skills-box {
    padding: 2.5rem 2rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 1rem;
    transition: .5s;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box .icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-box .icon i {
    font-size: 3rem ;
    transition: .5s;
}

.skills-box:hover .icon :not(a i){
    color: var(--main-color);
}

.skills-box .icon a {
    display: inline-flex;
    background: var(--white-color);
    border-radius: 50%;
    padding: 1rem;
    transition: .5s;
}

.skills-box:hover .icon a {
    background-color: var(--main-color);
}

.skills-box .icon a i {
    font-size: 2rem;
    color: var(--bg-color);
    transform: rotate(225deg);
}

.skills-box .icon a:hover i{
    transform: rotate(180deg);
}

.skills-box h3 {
    font-size: 2rem;
    margin: .5rem 0 2rem;
}

.skills-box:hover h3 {
    color: var(--main-color);
}

.skills-box p {
    font-size: 1.5rem;
}

.achievements-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.achievements-detail {
    display: none;
}   

.achievements-detail.active{
    display: block;
}   

.achievements-box .numb {
    font-size: 8rem;
    -webkit-text-stroke: .07rem var(--white-color);
    color: transparent;
    line-height: 1;
}

.achievements-box h3 {
    font-size: 3.5rem;
    margin: .8rem 0 2rem;
}

.achievements-box p {
    font-size: 1.6rem;
}

.achievements-box .tech {
    margin: 2rem 0;
        color: var(--main-color);
        border-bottom: .1rem solid var(--white-color);
        padding-bottom: 2rem;
}

.achievements-box .achievements-carousel {
    width: 100%;
    height: 45rem;
    border-radius: 1rem;
    overflow: hidden;
}

.achievements-carousel .img-slide {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    gap: 2rem;
    height: inherit;
    transition: .5s;
}

.achievements-carousel .img-item {
    height: inherit;
}

.achievements-carousel .img-item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.achievements-box .navigation {
    text-align: right;
    margin-top: 2rem;
}

.achievements-box .navigation button {
    display: inline-flex;
    padding: .4rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    font-size: 4rem;
    color: var(--main-color);
    cursor: pointer;
}

.achievements-box .navigation button.disabled{
    border-color: var(--second-bg-color);
    color: var(--disabled-color);
}

.achievements-box .navigation .arrow-right {
    margin-left: 1.5rem;
}

@media screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }
}

@media screen and (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        text-align: center;
        display: none;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 4rem 0;
    }

    .home {
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .home-img .img-box {
        width: 35rem;
        height: 35rem;
    }

    .achievements-container{
        grid-template-columns: 1fr;
    }

    .achievements-container .achievements-box:first-child{
        order: 1;
    }
}

@media screen and (max-width: 600px) {
    .home-img .img-box {
        width: 30rem;
        height: 30rem;
    }
}

@media screen and (max-width: 450px) {
    html{
        font-size: 50%;
    }
}

@media screen and (max-width: 400px) {
    .home-detail {
        text-align: center;
    }

    .home-detail .btn-sci{
        flex-direction: column-reverse;
    }

    .home-detail .btn-sci .sci {
        margin-left: 0;
        margin-bottom: 2rem;
    }    
}
    
